html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    list-style: none;
    text-decoration: none;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(150deg, rgb(0, 0, 0),  rgb(36, 30, 0));
    height: 100vh;
    color: white;
    flex-direction: column;
}
.header h2 {
    margin-top: 30px;
    margin-bottom: 10px;
}
.header a {
    color: white;
    background-color: #190033;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
    box-shadow: 0px 0px 6px #64018b;
}
.header a:hover {
    background-color: #6c3483;
    box-shadow: 0px 0px 10px #6c3483;
    transition: all 0.7s ease;
    transform: translateY(5px);
}
.header{
    background: linear-gradient(rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.774)), url(https://mir-s3-cdn-cf.behance.net/project_modules/source/5d96d646847841.586690decaada.gif) center/cover no-repeat;
}
.card:hover {
    transform: translateY(5px);
    transition: all 0.4s ease;
    box-shadow: 0px 0px 10px #6c3483;
}  
h1 {
    font-size: 20px;
}
.textos-header p {
    font-weight: bold;
}
.textos-header {
    background-color: rgba(41, 0, 88, 0.1);
    border-radius: 30px;
    padding: 50px;
    border: solid 1.50px;
    box-shadow: 0 0 10px #6c3483;
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-size: small;
}
.perfil-img {
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    object-fit: cover; 
    margin-bottom: 5px; 
    border: 4px solid white;
    box-shadow: 0px 0px 10px #6c3483;
    margin-bottom: 10px;
}
.menus {
    display: flex;
    background: linear-gradient(150deg, rgb(0, 0, 0),  #190033);
    height: 50px;
    align-items: center;
    justify-content: center;
    border-top: solid 1px #6c3483;
}
.links {
    display: flex;
    gap: 50px;
    color: white;
    font-weight: bolder;
    font-size: medium;
    flex-wrap: wrap;
}
.links a {
    border-bottom: 2px solid transparent;
}
.links a:hover {
    transition: all 0.4s ease;
    border-color: #64018b;
    color: #64018b;
}
.menus a {
    color: white;
}
#sobre, #habilidades, #projetos, #contatos {
    display: flex;
    height: 70px;
    background-color: #202020;
    color: white;
    align-items: center;
    justify-content: center;
    background: linear-gradient(150deg, rgb(0, 0, 0),  #190033);
    border-bottom: solid 1px #6c3483;
    border-top: solid 1px #6c3483;
}
.sobre-mim-paragrafos {
    display: flex;
    font-weight: bolder;
    background: linear-gradient(150deg, rgb(0, 0, 0),  #190033);
    padding: 20px;
    text-align: center;
    font-size: small;
    color: white;
}
.habilidades-cartoes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    gap: 5px;
    background: linear-gradient(150deg, rgb(0, 0, 0),  #190033);
}
.card {
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    font-weight: bold;
    color: #333;
    box-shadow: 0px 0px 5px #6c3483;
    margin-left: 25px;
    margin-right: 25px;
    background: linear-gradient(145deg, #1a1a1a, #190033);
    border: 1px solid #6c3483;
    color: white;
}
.titulo-landing-pages {
    text-align: center;
    color: white;
    padding: 20px;
    background: linear-gradient(145deg, #1a1a1a, #190033);
}
.lista-projetos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: linear-gradient(150deg, rgb(0, 0, 0),  #190033);
}
#projeto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.lista-projetos img {
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 5px #6c3483;
    border-radius: 10px;
    object-fit: cover;
}
.lista-projetos img:hover {
    transition: all 0.6s ease;
    transform: translateY(5px);
}
.projeto_barbearia_img:hover {
    box-shadow: 0px 3px 15px rgb(121, 121, 121) ;
}
.projeto_nails_img:hover{
    box-shadow: 0px 3px 15px #c91b56;
}
.projeto-restaurante_img:hover{
    box-shadow: 0px 3px 15px #ff8000;
}
.barbearia:hover {
    color: rgb(121, 121, 121);
}
.nail-designer:hover {
    color: #c91b56;
}
.restaurante:hover {
    color: #ff8000;
}
.projeto {
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    font-weight: bold;
    color: #333;
    box-shadow: 0px 0px 5px #6c3483;
    margin-left: 25px;
    margin-right: 25px;
    background: linear-gradient(145deg, #1a1a1a, #190033);
    border: 1px solid #6c3483;
    color: white;
}
.links-contatos a {
    color: #333;
}
.links-contatos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    gap: 5px;
    background-color: #1e1e1e;
}
.meus-contatos ul li {
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    font-weight: bold;
    box-shadow: 0px 0px 5px #6c3483;
    margin-left: 25px;
    margin-right: 25px;
    background: linear-gradient(145deg, #1a1a1a, #190033);
    border: 1px solid #6c3483;
}
.meus-contatos ul {
        background: linear-gradient(150deg, rgb(0, 0, 0),  #190033);
}
.meus-contatos ul li a {
    color: white;
}
.whatsapp:hover {
    color: #1ebe5d;
}

.instagram:hover {
    color: #c91b56;
}

.github:hover {
    color: #ffae00;
}
.footer {
    display: flex;
    height: 70px;
    background-color: #190033;
    color: white;
    align-items: center;
    justify-content: center;
}
a:hover {
  transition: all 0.6s ease;
}
  

@media (max-width:480px){
    .links-contatos, .habilidades-cartoes, .lista-projetos {
        grid-template-columns: 1fr;
    }
    .links {
        gap: 7px;
        font-size: 13px;
    }
    .sobre-mim-paragrafos {
        font-size: 9px;
    }
    h1{
        font-size: small;
    }
    .header a  {
        font-size: 8px;
    }
    .header h2 {
        font-size: small;
    }
    .textos-header p {
        font-size: 10px;
    }
    .perfil-img {
        width: 100px;
        height: 100px;
    }

}
@media (min-width:481px) and (max-width: 768px) {
    .habilidades-cartoes {
        grid-template-columns: 1fr 1fr;
    }
    .links-contatos, .lista-projetos {
        grid-template-columns: 1fr;
    }
}
